<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <p>Example OpenID consumer/relaying party, which shows how to setup your site to authenticate using an OpenID provider.</p>
        <p>Try going to the "Member's Only" section, which requires authorization. You will be asked to authenticate against an OpenID provider.</p>
        <p><a class="btn btn-primary btn-large">Member's Only Section</a></p>
      </div>

</div> <!-- /container -->