<div class="hero-unit">
    <h2>Congrats! You now have 'Member's Only' access</h2>
    <p>Logged in as <%= username %></p>
</div>
<img src="http://www.rustyzipper.com/full/120741L.jpg" alt="Member's Only Jacket">